.page {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  background-color: #fffaf2;
}

.content {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  font-size: 15px;
  line-height: 1.5em;
  font-size: 15px;
  padding-bottom: 1em;
}

.title {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 40px;
  font-weight: bold;
}

.link {
  text-decoration: none;
  color: #009bce;
}

.tag {
  font-weight: bold;
}

.headline {
  font-size: 20px;
}